<!DOCTYPE HTML>

<html>

<head>
  <title>Book List Web Page</title>
  <header class="intro-header" style="background-image: url('static/bg.jpg')">
   <img src="/static/IUST.png" height='90' width='90'>
</head>

<body>
    <center> <font size='12' face='verdana' color="brown">WELCOME!</font> </center>
    <center><nav> <a href="http://home.mehrsa.org">Mehrsa Publishings</a> | <a href="http://python.org">Python</a> | <a href="http://google.com">Google</a> | <a href="http://yahoo.com">Yahoo</a> |
    <a href='http://instagram.com'>Instagram</a> | <a href='http://Microsoft.com'>Microsoft</a> </nav>
    </center>
    <center>
     <h3><font face='verdana' color='brown' >In this page you can see the extracted books from mehrsa publishing's site. </font></h3>
      <p>
My e-mail address is
<a href = "https://www.google.com/gmail"> amin7799sh@gmail.com</a>
<br>Click the address and your browser will
open <br>an e-mail message and address it to me.
</p>
<p>
you can open
<a href = "http://home.mehrsa.org">Mehrsa</a>
publishings to see the originall pages.
</p>
</center>
<p><font size='5' color='brown'>Contact me:</font></p>
  <ul>
<li> My student ID is: 96522177</li>
<li> You can contact me: +989335332243</li>
</ul>
<center>
<img src="/static/book.jpg" height='280' width='1294'>
</center>
<center>
<ul>
<li><font size='6' >{{data0}}</font><br>
{{pd0}}<br>
{{pg0}}<br>
translator:
{{tl0}}<br>
author:
{{au0}}<br>
<a href ={{link0}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data1}}</font><br>
{{pd1}}<br>
{{pg1}}<br>
translator:
{{tl1}}<br>
author:
{{au1}}<br>
<a href ={{link1}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data2}}</font><br>
{{pd2}}<br>
{{pg2}}<br>
translator:
{{tl2}}<br>
author:
{{au2}}<br>
<a href ={{link2}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data3}}</font><br>
{{pd3}}<br>
{{pg3}}<br>
translator:
{{tl3}}<br>
author:
{{au3}}<br>
<a href ={{link3}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data4}}</font><br>
{{pd4}}<br>
{{pg4}}<br>
translator:
{{tl4}}<br>
author:
{{au4}}<br>
<a href ={{link4}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data5}}</font><br>
{{pd5}}<br>
{{pg5}}<br>
translator:
{{tl5}}<br>
author:
{{au5}}<br>
<a href ={{link5}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data6}}</font><br>
{{pd6}}<br>
{{pg6}}<br>
translator:
{{tl6}}<br>
author:
{{au6}}<br>
<a href ={{link6}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data7}}</font><br>
{{pd7}}<br>
{{pg7}}<br>
translator:
{{tl7}}<br>
author:
{{au7}}<br>
<a href ={{link7}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data8}}</font><br>
{{pd8}}<br>
{{pg8}}<br>
translator:
{{tl8}}<br>
author:
{{au8}}<br>
<a href ={{link8}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data9}}</font><br>
{{pd9}}<br>
{{pg9}}<br>
translator:
{{tl9}}<br>
author:
{{au9}}<br>
<a href ={{link9}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data10}}</font><br>
{{pd10}}<br>
{{pg10}}<br>
translator:
{{tl10}}<br>
author:
{{au10}}<br>
<a href ={{link10}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data11}}</font><br>
{{pd11}}<br>
{{pg11}}<br>
translator:
{{tl11}}<br>
author:
{{au11}}<br>
<a href ={{link11}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data12}}</font><br>
{{pd12}}<br>
{{pg12}}<br>
translator:
{{tl12}}<br>
author:
{{au12}}<br>
<a href ={{link12}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data13}}</font><br>
{{pd13}}<br>
{{pg13}}<br>
translator:
{{tl13}}<br>
author:
{{au13}}<br>
<a href ={{link13}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data14}}</font><br>
{{pd14}}<br>
{{pg14}}<br>
translator:
{{tl14}}<br>
author:
{{au14}}<br>
<a href ={{link14}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data15}}</font><br>
{{pd15}}<br>
{{pg15}}<br>
translator:
{{tl15}}<br>
author:
{{au15}}<br>
<a href ={{link15}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data16}}</font><br>
{{pd16}}<br>
{{pg16}}<br>
translator:
{{tl16}}<br>
author:
{{au16}}<br>
<a href ={{link16}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data17}}</font><br>
{{pd17}}<br>
{{pg17}}<br>
translator:
{{tl17}}<br>
author:
{{au17}}<br>
<a href ={{link17}}> Details</a></li><br><br><br><br><br>
<li><font size='6' >{{data18}}</font><br>
{{pd18}}<br>
{{pg18}}<br>
translator:
{{tl18}}<br>
author:
{{au18}}<br>
<a href ={{link18}}> Details</a></li><br><br><br><br><br>
</ul>
</center>
</body>

</html>